* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkorange;
  color: white;
}
.type {
  display: flex;
}
.type p {
  padding: 10px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo img {
  padding-right: 10px;
}

.shoping {
  display: flex;
}
.shoping i {
  padding: 10px;
}
/* CONTAINER */
.container {
  width: 1100px;
  margin: 40px auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3 - 50px);
  justify-content: space-between;
  position: relative;
  margin-right: 20px;
  margin-bottom: 40px;
}
.text-n {
  text-decoration: none;
}
.text-t {
  text-decoration-line: line-through;
}
.card a {
  color: black;
}
.discount {
  position: absolute;
  bottom: 115px;
  left: 0;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: small;
}

.sostenibLe {
  position: absolute;
  bottom: 115px;
  left: 60px;
  background-color: green;
  padding: 4px;
}
.heart {
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 4px 13px;
  font-size: x-large;
}

img {
  max-width: 100%;
}
